<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="../assets/css/password.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
</head>

<body>
    

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="../assets/img/bean.gif" alt=" " class="logo"> </img>
                <a class="navbar-brand" href="#">BeanFork</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome User</a></li>

            </ul>
        </div>
    </nav>
    <div class="container">
        <h3> Change Password</h3>
        Create a new,strong password that you don't use for other websites
        <form name="create-password" id="create-password" class="f1">

            
            <p>
                <input type="password" id="password-field" name="input1" placeholder="new password">
                <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i> 
                
            <h5>At least 8 characters</h5>
 
            <p> <input type="password" id="password-field1" name="input1" placeholder="confirm password" data-toggle="password">
            </p>
            <p>
                <div class="buttons">
                    <button type="submit" class="signupbtn">confirm</button>
                    <button type="reset" class="cancelbtn">cancel</button>

                </div>
            </p>
        </form>
    </div>
    <script>
        function viewPassword() {
            var x = document.getElementById("password-field");
            
            var passStatus = document.getElementById('pass-status');
            if (x.type === "password") {
                x.type  = "text";
                

                passStatus.className='fa fa-eye-slash';
            } else {
                x.type = "password";
                passStatus.className='fa fa-eye';
            }
        }</script>
</body>

</html>