<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/css/password.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="../assets/img/bean.gif" alt=" " class="logo"> </img>



    <header>
        <span> BeanFork</span>
    </header>
    <div class="container">
    <h3> Create Password</h3>
    <form name="create-password" id="create-password">
       
            New Password 
            <p>
             <input type="text" id="new-password"> </p>
        Confirm Password
        <p>  <input type="text" id="confirm-password">
        </p>
        <p><div class="buttons"> 
                <button type="submit" class="signupbtn">confirm</button>
                <button type="reset" class="cancelbtn">cancel</button>
               
        </div>
        </p>
    </form>
</div>
</body>

</html>