<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/css/password.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="../assets/img/bean.gif" alt=" " class="logo"> </img>



    <header>
        <span> BeanFork</span>
    </header>

    <div class="container">
        <h3>Forgot Password</h3>
        <p>Enter email-id</p>

        <form name="Verification-code" id="form-code">
            <input type="text" name="email" id="input-email">
            <datalist id="emails">
            </datalist>

            <p>Enter Verification code</p>
            <p> <input type="text" id="code" /> </p>
            <p>
                <div class="buttons">
                    <input type="button" value="send" onclick="myTestFunction()">
                    <input type="button" value="confirm" onclick=request()>
                    <input type="reset" value="cancel"></div>
            </p>
        </form>

    </div>

    <!-- 
  <script>

    myTestFunction = () => {
      console.log("Yes this works")
    }
    function request() {
      superagent.post('/submit').end(function (err, result) {
        console.log($('#form-code').val())
        console.log($('#answer').val())
        //document.documentElement.innerHTML = result.text;
        //result.text is a string . we can pass it to the html tag using jquery
        $('html').html(result.text)

      })
    }
  </script> -->


</body>

</html>