<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../assets/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    <img src="../assets/img/bean.gif" alt=" " class="logo"> </img>



    <header>
        <span> BeanFork</span>
    </header>


    <!-------------------------- Banner Portion-------------------------------------------->




    <div class="container">

        <div class="leftpane">
            <h1> Trending Topics </h1>

            <article class="topic">
                <h2>My Topic-1</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


            <article class="topic">
                <h2>My Topic-2</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


            <article class="topic">
                <h2>My Topic-3</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


        </div>
        <div class="middlepane">
            <h1> Topic-1 </h1>
            <article class="post">
                <h3> User-1</h3>
                <h4> Posted 3 hrs ago</h4>
                <p class="content">
                    A paragraph is a self-contained unit of a discourse in writing
                    dealing with a particular point or idea. A paragraph consists
                    of one or more sentences. Though not required by the syntax of any language,
                </p>
            </article>
            <div class="comment">
                <textarea placeholder="Enter Your Comments Here..." name="message" rows="5"
                    cols="100">
                 </textarea>

            </div>
            <input type="button" class="button" value="Add"> 
 


        </div>
        <div class="rightpane">
            <h1> Your Discussions </h1>

            <article class="topic">
                <h2>My Topic-1</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>

            <article class="topic">
                <h2>My Topic-2</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>

            <article class="topic">
                <h2>My Topic-3</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


        </div>
    </div>


</body>

</html>