<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href = "../assets/css/home.css" rel = "stylesheet" type = "text/css"> 
    <style>

    </style>
</head>
<body>
<img src = "../assets/img/logo.png" alt = " " class = "logo"> </img>

<div class = "header"> 
        <h3>BeanFork</h3>
        <input id = "email" type = "text" placeholder = "Enter Email Address....." name = "Username" required> 
        <input id = "password" type = "password" placeholder = "Enter Your password.................." name = "Username" required> 
        <input id = "login-button" type = "button" value = "Login"> <br>
          
</div>


    
</body>
</html>