<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="../public/assets/css/home.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
</head>

<body>
    <style>
        
    .jumbotron{
    background-color: #31d9df;
    color: #fff;
    padding: 5px 20px;
    text-align: left;
  } 
    </style>
    
    <ul class="nav navbar-nav navbar-right">
           <li>
                <a class="welcome" href="#"><span class="glyphicon glyphicon-user"></span>Welcome User</a>
           </li>
            </ul>
    <div class="jumbotron text-center">
        <img class = "logo" src = " ../public/assets/img/bean.gif">
        <h1>BeanFork</h1> <br>  
        <p> A Forum Discussion Page</p>  
      
            </div>
          </div>
    
    
      


    <!-------------------------- Banner Portion-------------------------------------------->



<!-- 
    <div class="container">

        <div class="leftpane">
            <h1> Trending Topics </h1>

            <article class="topic">
                <h2>My Topic-1</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


            <article class="topic">
                <h2>My Topic-2</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


            <article class="topic">
                <h2>My Topic-3</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


        </div>
        <div class="middlepane">
            <h1> Topic-1 </h1>
            <article class="post">
                <h3> User-1</h3>
                <h4> Posted 3 hrs ago</h4>
                <p class="content">
                    A paragraph is a self-contained unit of a discourse in writing
                    dealing with a particular point or idea. A paragraph consists
                    of one or more sentences. Though not required by the syntax of any language,
                </p>
            </article>
            <div class="comment">
                <textarea placeholder="Enter Your Comments Here..." name="message" rows="5"
                    cols="100">
                 </textarea>

            </div>
            <input type="button" class="button-add" value="Add"> 
 


        </div>
        <div class="rightpane">
            <h1> Your Discussions </h1>

            <article class="topic">
                <h2>My Topic-1</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>

            <article class="topic">
                <h2>My Topic-2</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>

            <article class="topic">
                <h2>My Topic-3</h2>
                <h4> Published Time</h4>
                <p>An apple is a sweet, edible fruit produced by an apple tree...</p>
            </article>


        </div>
    </div>
     -->





     <div class="container-fluid">
        <div class="text-center">
          <h2></h2>
          <h4>Choose a payment plan that works for you</h4>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Basic</h1>
              </div>
              <div class="panel-body">
                <p><strong>20</strong> Lorem</p>
                <p><strong>15</strong> Ipsum</p>
                <p><strong>5</strong> Dolor</p>
                <p><strong>2</strong> Sit</p>
                <p><strong>Endless</strong> Amet</p>
              </div>
              <div class="panel-footer">
                <h3>$19</h3>
                <h4>per month</h4>
                <button class="btn btn-lg">Sign Up</button>
              </div>
            </div> 
          </div> 
          <div class="col-sm-4">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Pro</h1>
              </div>
              <div class="panel-body">
                <p><strong>50</strong> Lorem</p>
                <p><strong>25</strong> Ipsum</p>
                <p><strong>10</strong> Dolor</p>
                <p><strong>5</strong> Sit</p>
                <p><strong>Endless</strong> Amet</p>
              </div>
              <div class="panel-footer">
                <h3>$29</h3>
                <h4>per month</h4>
                <button class="btn btn-lg">Sign Up</button>
              </div>
            </div> 
          </div> 
         <div class="col-sm-4">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Premium</h1>
              </div>
              <div class="panel-body">
                <p><strong>100</strong> Lorem</p>
                <p><strong>50</strong> Ipsum</p>
                <p><strong>25</strong> Dolor</p>
                <p><strong>10</strong> Sit</p>
                <p><strong>Endless</strong> Amet</p>
              </div>
              <div class="panel-footer">
                <h3>$49</h3>
                <h4>per month</h4>
                <button class="btn btn-lg">Sign Up</button>
              </div>
            </div> 
          </div> 
        </div>
      </div> 
</body>

</html>