<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forum Discussion</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../assets/css/new-discussion.css"
    />
  </head>

  <body>
        <img src = "../assets/img/bean.gif" alt = "logo" class = "logo"> </img>
    <header>
      <span> BeanFork</span>
    </header>
    <div class="discussioncontainer">
            <h3>Create New Discussion</h3>
            <form name="create-discussion" id="create-discussion">
              <label><b>Discussion Topic</b></label> 
              <br/>
                <textarea cols="60" 
                rows="5"   id="discussionTopic" name="textbox1" size=70></textarea>


              <br/>
              <label><b>Discussion Description</b></label>
              <br/>
              <textarea cols="60"
             rows="10" id="discussionDescription" name="textbox2" size=70></textarea></p>
              <br/>
              <div class="clearfix">
                    <button type="reset" class="cancelbtn">Cancel</button>
            <button type="submit" class="createbtn" onclick="createDiscussion()">Create</button>
                  
              </div>
               
            </form>
    </div>
    
  </body>
</html>
