<!DOCTYPE html>
<html>
        <link href = "../assets/css/register.css" rel = "stylesheet" type = "text/css">
  <style>
      
    

  </style>
  <head>
    <title>
      Registration
    </title>
  </head>
  <body>
        
 <header>
     <span>BeanFork</span>
     <form>
            <table>
                    <tr>
                        <td>UserName</td>
                        <td>Password</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="Username"/>
                        </td>
                        <td>
                            <input type="password" placeholder="Password"/>
                        </td>
                        <td>
                            <input type="submit" value="Login"/>
                        </td>
                    </tr>
                </table>
     </form>
     
    
 </header>
</div>
        <div>
    <div class="signupcontainer">
      <h1>Sign Up</h1>

      <label><b>Email</b></label>
      <br />
      <input
        id="email"
        type="text"
        placeholder="Enter Email"
        name="email"
        size=80
        required
      />
      <br />

      <label><b>UserName</b></label>
      <br />
      <input
        id="username"
        type="text"
        placeholder="Enter UserName"
        name="username"
        size=80
        required
      />
      <br />

      <label><b>Password</b></label>
      <br />
      <input
        id="password"
        type="password"
        placeholder="Enter Password"
        name="psw"
        size=80
        required
      />
      <br />
      <label><b>Confirm Password</b></label>
      <br />
      <input
        id="repeatpassword"
        type="password"
        placeholder="Repeat Password"
        name="psw-repeat"
        size=80
        required
      />
      <br />
      <div class="clearfix">
          <br/>
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
    <div class="introcontainer">
            <h1>Intro about page</h1>
            <p>A Web forum is a website or section of a website that allows visitors to communicate with each other by posting messages. 
                Most forums allow anonymous visitors to view forum postings,
                 but require you to create an account in order to post messages in the forum.</p>
    </div>
    </div>
  </body>
</html>
