<!DOCTYPE html>
<html>
       
 
  <head>
    <title>
      BeanFork - Login or Register
    </title>
    <link href = "../assets/css/register.css" rel = "stylesheet" type = "text/css">
    <script>
      
    </script>
  </head>
  <body>  
      <img src = "../assets/img/bean.gif" alt = "logo" class = "logo"> </img>

      <header> 
          <span>  BeanFork</span>

 
     <form>
            <table>
              
                    <tr>
                        <td><b>UserName</b></td>
                        <td><b>Password</b></td>
                    </tr>
                    <tr>
                        <td>
                            <input id="loginUsername"type="text" placeholder="Username"/>
                        </td>
                        <td>
                            <input id="loginPassword"type="password" placeholder="Password"/>
                        </td>
                        <td>
                            <input type="submit" value="Login" onclick="login()"/>
                        </td>
                        <td>
                            <button type="button" value="forgotpassword" onclick="forgotpassword()">forgot password?</button>
                        </td>
                    </tr>
                </table>
     </form>
     
    </header>
    <div class="signupcontainer">
      <h1>Sign Up</h1>

      <label><b>Email</b></label>
      <br />
      <input
        id="email"
        type="text"
        placeholder="Enter Email"
        size="80"
        onkeyup="mailidFormat()"
        required
      />
      <br />
      <p id="idValidation"></p>
      <label><b>UserName</b></label>
      <br />
      <input
        id="username"
        type="text"
        placeholder="Enter UserName"
        size="80"
        required
      />
      <br />

      <label><b>Password</b></label>
      <br />
      <input
        id="password"
        type="password"
        placeholder="Enter Password"
        onkeyup="passwordStrength()"
        size="80"
        required
      />
      <br />
      <p id="passwordmessage">* Must contain atleast 8 character that are the combination of letters in both uppercase and lowercase,numbers and symbols</p>
      <label><b>Confirm Password</b></label>
      <br />
      <input
        id="confirmpassword"
        type="password"
        placeholder="Confirm Password"
        onkeyup="checkPassword()"
        size="80"
        required
      />
      <span id="message"></span>
      <br />
      <div class="clearfix">
          <br/>
            <button type="reset" class="cancelbtn" onclick="cancelSignup()">Cancel</button>
            <button id="submit" type="submit" class="signupbtn" onclick="signup()">Sign Up</button>
      </div>
    </div>
    <div class="introcontainer">
            <h1>Intro about page</h1>
            <p>A Web forum is a website or section of a website that allows visitors to communicate with each other by posting messages. 
                Most forums allow anonymous visitors to view forum postings,
                 but require you to create an account in order to post messages in the forum.</p>
    </div>
    </div>
  </body>
</html>
