/* Banner - constant for all the pages 
*/
header {
  background-color: #0bddec;
  padding: 40px;
  text-align: left;
  font-size: 25px;
  color: #000000;
}
.logo{
  float: left;
  height: 50px;
  width: 70px;
  padding: 10px;
  margin: 15px 0px 10px 10px;   


}


span{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}



/* 
Variable Elements
*/

.container{
  width: available;
  height: available;
  font-family: Arial, Helvetica, sans-serif;
}


.leftpane {
  margin: 0px 0px 0px -5px;
  min-width: 40px;
  min-height: 700px;
  height: available;
  float: left;
  background-color: azure;
  text-align: center;


}

.middlepane {

  width: 10%;
  min-width: 900px;
  min-height: 700px;
  height: available;
  float: left;
  background-color: #eeeeeb;
  text-align: center;

}



.rightpane {

  width: 5%;
  min-width: 343px;
  min-height: 700px;
  height: available;
  float: right;
  background-color:#a1a19a;
  text-align: center;

}

.topic{


  text-align: left;

}


.post{


  text-align: left

}

.comment{


margin: 0px 0px -20px 10px; 
margin: 400px 9px;
position: absolute;

}

.button {
  background-color: #e0e0e0;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 420px -20px 20px 430px;
  cursor: pointer;
}