header {
    background-color: #0bddec;
    padding: 40px;
    text-align: left;
    font-size: 25px;
    color: #000000;
  }
  .logo{
    float: left;
    height: 50px;
    width: 70px;
    padding: 10px;
    margin: 15px 0px 10px 10px;   
  
  
  }
  

span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }


.container{
    width: available;
    height: available;
    font-family: Arial, Helvetica, sans-serif;
   
}
