<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="assets/css/change-password.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <script type="text/javascript" src="assets/js/forgot-password.js"></script>
    <script type="text/javascript" src="assets/js/register.js"></script>
    <script type="text/javascript" src="util.js"></script>
</head>

<body>
        <div id="container2">
    <ul class="nav navbar-nav navbar-right">
        <li>
                <!-- <span class="glyphicon glyphicon-user"></span> -->
                <a class = "welcome"  href = "#" id = "welcomeuser">Welcome User </a>
        </li>
    </ul>
    <div class="banner text-left">
        <img class="logo" src="/assets/img/bean.gif">
        <h1><b> BeanFork </b></h1> <br>
    </div>
    

        <body>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i></h1>

                                        <h2 class="text-center">Change password</h2>
                                        <p>Password must contain 8 characters of letter in upper and lower case and one
                                            minimum special characters and number</p>
                                        <div class="panel-body">

                                            <form class="form">
                                                <fieldset>


                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i id="pass-status"
                                                                    class="fa fa-eye" aria-hidden="true"
                                                                    onClick="viewPassword()"></i></span>

                                                            <input id="password" placeholder="new password"
                                                                class="form-control" type="password"
                                                                onkeyup="passwordStrength()">

                                                        </div>
                                                        <span id="passwordmessage"></span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock	
                                    color-blue"></i></span>

                                                            <input id="confirmpassword" placeholder="confirm password"
                                                                class="form-control" type="password"
                                                                onkeyup="checkPassword()">

                                                        </div>
                                                        <span id="message"></span>

                                                    </div>
                                                    <div class="form-group">

                                                        <input type="button" class="btn btn-lg btn-primary btn-block"
                                                            value="confirm" id="submit" onclick="changePassword()">

                                                        <input type="button" class="btn btn-lg btn-primary btn-block"
                                                            value="cancel" type="submit">



                                                    </div>


                                                </fieldset>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </body>


    </div>

</html>