<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="assets/css/change-password.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <script type="text/javascript" src="assets/js/forgot-password.js"></script>
    <script type="text/javascript" src="assets/js/register.js"></script>
    <script type="text/javascript" src="util.js"></script>
</head>

<div class="divcontainer" id="divcontainer">
<body>
        <div id="container2">
    
            
            <div class="banner text-left">
                
                <img class = "logo" src = "assets/img/bean.gif">
                <h1><b> BeanFork </b></h1> <br>  
                    </div>
     
            <div class="container" style="color: aliceblue">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="panel panel-default" id="panel123">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i></h1>

                                        <h2 class="text-center" id = "text1">Change Password</h2>
                                        <p id ="text2">Password must contain atleast 8 characters with the combination of uppercase, lowercase,
                                            numerical and special characters
                                        </p>
                                        <div class="panel-body">

                                            <form class="form">
                                                <fieldset>


                                                    
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i id="pass-status"
                                                                    class="fa fa-eye" aria-hidden="true"
                                                                    onClick="viewPassword()"></i></span>

                                                            <input id="password" placeholder="new password" autofocus = "autofocus"
                                                                class="form-control" type="password"
                                                                onkeyup="passwordStrength()">

                                                        </div>
                                                        <span id="passwordmessage"></span>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-lock	
                                    color-blue"></i></span>

                                                            <input id="confirmpassword" placeholder="confirm password"
                                                                class="form-control" type="password"
                                                                onkeyup="checkPassword()"  onkeydown="if (event.keyCode == 13)
                                                                document.getElementById('submit-button').click()">

                                                        </div>
                                                        <span id="message"></span>

                                                    </div>
                                                    <div class="form-group">

                                                        <input type="button" class="btn btn-lg btn-primary btn-block"
                                                            value="Confirm" id="submit-btn" onclick="changePassword()">

                                                        <input type="button" class="btn btn-lg btn-primary btn-block"
                                                            value="Cancel" type="submit" onclick = "cancelForgotPassword()">



                                                    </div>


                                                </fieldset>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>

        </body>


    </div>

</html>