<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="assets/css/new-discussion.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="assets/js/register.js"></script>
    <script type="text/javascript" src="assets/js/settings.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script
        src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    
</head>
<div id="container1"> 


<body>

  <span id="welcomeuser" class="welcomeuser"></span>
  <div class="banner text-left">
      
    <div class="dropdown">
      <button class="dropdown-toggle btn-drop" type="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-cog fa-1x " style="color: black"><t><t></t></t><span class="caret"></span></span></button>
    
      <ul class="dropdown-menu">
        <li><a href = "#" onclick ="homePage()">Go To Main Page </a> </li>
        <li><a href="#" onclick='settingsPage()'>Account Settings</a></li>
        <li><a href="#" onclick='logOut()'>Log Out</a></li>
      </ul>
    </div>
            <img class = "logo" src = "assets/img/bean.gif">
            <h1><b> BeanFork </b></h1> <br>  
                </div>
    <div class="discussioncontainer">
            <h3>Edit Discussion</h3>
            <form name="create-discussion" id="create-discussion">
              <label><b>Discussion Topic</b></label> 
              <br/>
                <textarea cols="60" autofocus = "autofocus"
                rows="3"  class="md-textarea form-control"  id="edit-discussionTopic" name="textbox1" size=70 required></textarea>


              <br/>
              <label><b>Discussion Description</b></label>
              <br/>
              <textarea cols="60"
             rows="6" class="form-control rounded-0" id="edit-discussionDescription" name="textbox2" size=70  onkeydown = "if (event.keyCode == 13)
             document.querySelector('.createbtn').click()"required></textarea></p>
              <br/>
              <span id="discussion"></span>
              <div class="button">
                    <button type="reset" class="cancelbtn" onclick="cancelDiscussion()">Cancel</button>
            <button type="button" class="createbtn" onclick="editDiscussion()">Confirm edit</button>
            <div id="post_content" class = "post_content"> 

            </div>
                  
              </div>
               
            </form>
    </div>
    
  </body>
</div>
</html>
