<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link href="assets/css/forgot-password.css" rel="stylesheet" type="text/css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script
    src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
  <script src="https://cdn.jsdelivr.net/npm/superagent"></script>

  <!-- <script type="text/javascript" src="assets/js/forgot-password.js"> -->

  <script src="assets/js/register.js"></script>

  </script>


  <script type="text/javascript" src="util.js"></script>


</head>

<div class="divcontainer" id="container1">

  <body>


    <div class="banner text-left">
      <img class="logo" src="/assets/img/bean.gif">
      <h1><b> BeanFork </b></h1> <br>
    </div>


    <div class="container">
      <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" id="panel123">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x" style = "color: black;"></i></h3>
                  <h2 class="text-center" id="text1">Forgot Password?</h2>
                  <!-- <p id = "text2" >You can reset your password here.</p> -->
                  <div class="panel-body">

                    <form class="form">
                      <fieldset>
                        <div class="send-code" id="sendcode1">


                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i
                                  class="glyphicon glyphicon-envelope color-blue"></i></span>

                              <input id="input-email" placeholder="Email address" class="form-control" type="email"
                                autofocus="autofocus" onkeydown="if (event.keyCode == 13)
                          document.getElementById('btn-submit').click()">
                              <!-- oninvalid="setCustomValidity('Please enter a valid email address!')"

                            onchange="try{setCustomValidity('')}catch(e){}" required=""> -->
                            </div>

                          </div>

                          <span id="Emailspan"> Enter the registered Email address </span>
                          <div class="form-group">

                            <input type="button" id="btn-submit" class="btn btn-lg btn-primary btn-block" value="Send"
                              onclick="sendCode()">


                            <input type="button" class="btn btn-lg btn-primary btn-block" value="Cancel"
                              onclick="cancelForgotPassword()">

                          </div>



                        </div>
                        <div class="send-code hide" id="sendcode2">
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-pencil	
                                color-blue"></i></span>

                              <input id="input-code"  placeholder="verification code"
                                class="form-control" type="text" onkeydown="if (event.keyCode == 13)
                                document.getElementById('submit-button').click()" />
                            </div>
                          </div>
                          <span id="Emailspan">Verification code has been sent </span>

                          <div class="form-group">
                            <input type="button" id="submit-button" class="btn btn-lg btn-primary btn-block"
                              value="Confirm" onclick="confirmCode()">
                            <input type="button" class="btn btn-lg btn-primary btn-block"
                              onclick="cancelForgotPassword()" value="Cancel" type="reset">

</div>

</div>


</fieldset>

</form>

</div>
</div>
</div>
</div>
</div>
</div>
</body>
</div>

</html>
