<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link href="assets/css/home.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script
    src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
  <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
  <script src="assets/js/register.js"></script>
</head>

<body>


<div class="banner text-left">
  <img class="logo" src="assets/img/bean.gif" />
  <h1><b> BeanFork </b></h1>
  <br />
  
  <div class="banner text-center">
  <div class="container">
  <div class="row">
  
  <div id="custom-search-input">
  <div class="input-group col-md-8">
  <input type="text" class=" search-query form-control" placeholder="Search" autofocus ="autofocus" id="search" onkeydown = "if (event.keyCode == 13)
  document.getElementById('btnSearch').click()" />
  <span class="input-group-btn">
  <input class="btn btn-danger" type="button" onclick="searchBar()" id="btnSearch"/>
  <span class=" glyphicon glyphicon-search"></span>
  </button>
  </span>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  <!-------------------------- Banner Portion-------------------------------------------->

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="leftpane">
          <button class="btn1" id="newdiscussion" type="button" size="50" onclick="newDiscussion()">
            Start New Discussion
          </button>

          <h1>Trending Topics</h1>
          <div id="TrendDiscussion"></div>
          <div id="Trending__pages"></div>

        </div>
      </div>

      <div class="col-lg-5">
        <div class="middlepane">
          <div id="post_content">

          </div>
          <div id="comment_content">

          </div>
          <textarea id="commentBox" class="comment" rows="5" cols="70" value="Comment Below"
            placeholder="Enter Your Comments Here..." onkeydown = "if (event.keyCode == 13)
            document.getElementById('button-add').click()"></textarea>
           
          <!-- <input id="button-add" type="submit" onclick="addComment()" value="Add" /> -->
          <button id="button-add" onclick="addComment()">add</button>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="rightpane">
          <h1>Your Discussions</h1>
          <div id="yourdiscussion"></div>
          <div id="results__pages"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>