<!DOCTYPE html>
  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link href="assets/css/home.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script> -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>

    <script src="assets/js/settings.js"></script>

  </head>
<div id = "container1"> 
  <body>


      <div class="bannerRegister text-left">
          <img class="logoRegister" src=" assets/img/bean.gif" />
          <div style="font-size:40px; margin-top:20px; font-weight:300; color: #fff; font-family: Comic Sans MS, cursive, sans-serif;"> BeanFork </div>
          <br />
        </div></br></br>

    <!-------------------------- Banner Portion----------------------------------------->

    <div class="alert alert-success" style="width: 500px;margin-left:30%;">
        <strong>You have been Successfully Logged Out!</strong> 
        <a href="#" onclick ="restorePage()">Click Here</a> to Login again!
      </div>

   </body>
  </div>

</html>