<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link href="assets/css/home.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.js"> </script>
    <!-- <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script> -->

<script src="assets/js/settings.js"></script>
<script src = "assets/js/register.js"> </script>
  </head>

  <body>
      <span id="welcomeuser" class="welcomeuser"></span>
      <div class="banner text-left">
          
        <div class="dropdown">
          <button class="dropdown-toggle btn-drop" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href = "#" onclick ="homePage()">Go To Main Page </a> </li>
        
            <li><a href="#" onclick='logOut()'>Logout</a></li>
          </ul>
        </div>
      <img class="logo" src="assets/img/bean.gif" />
      <h1><b> BeanFork </b></h1>
      

    <!-------------------------- Banner Portion----------------------------------------->

   </body>
  
</html>